<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Film</title>
</head>
<body>
<form action="/films/edit" method="post" class="form">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" th:value="${film.name}">

    <label for="genre">Genre:</label>
    <input type="text" name="genre" id="genre" th:value="${film.genre}">

    <label for="year">Year:</label>
    <input type="number" name="year" id="year" th:value="${film.year}">

    <label for="mark">Mark:</label>
    <input type="number" name="mark" id="mark" th:value="${film.mark}">

    <label for="price">Price:</label>
    <input type="number" name="price" id="price" th:value="${film.price}">

    <input type="hidden" name="id" id="id" th:value="${film.id}">

    <input type="submit" value="Edit">
</form>
</body>
</html>